b,
strong {
    font-weight: bold !important;
}

.promocarousel {
    height: 150px;
    position: absolute;
    bottom: 10%;
    width: 70% !important;
    left: -1%;
}

.promocarousel ul {}

.promocarousel ul li {
    /* transition: width .5s, height .5s, top .5s, left .5s;
        -webkit-transition: width .5s, height .5s, top .5s, left .5s;
        */
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12);
}

.promocarousel ul li img {}

.promocarousel .left,
.promocarousel .right {
    cursor: pointer;
    background-color: #000;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    top: 35% !important;
}

.promocarousel .left {
    left: 0;
}

.promocarousel .right {
    right: 0;
}

.promodisplay {}

.promodisplay .detail {}

.promodisplay .detail h1 {
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 0;
}

.promodisplay .detail h3 {
    font-size: 13px;
    letter-spacing: 0;
    margin-bottom: 0;
}

.promodisplay .detail a {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d7a041+0,c87f01+100 */
    background: #d7a041;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #d7a041 0%, #c87f01 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #d7a041 0%, #c87f01 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #d7a041 0%, #c87f01 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d7a041', endColorstr='#c87f01', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    line-height: 25px;
}

.promodisplay .detail a:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c87f01+0,d7a041+100 */
    background: #c87f01;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #c87f01 0%, #d7a041 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #c87f01 0%, #d7a041 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #c87f01 0%, #d7a041 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c87f01', endColorstr='#d7a041', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.popupboxdetail {}

.popupboxdetail h2 {
    font-size: 11px;
    margin-bottom: 0;
}

.popupboxdetail h3 {}

.popupboxdetail a.readmore,
.similar-listing a.readmore {
    background: #1F1F1F;
    color: #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    line-height: 25px;
    margin-top: 5px;
}

.popupboxdetail a:hover.readmore,
.similar-listing a:hover.readmore {
    background: #FFF;
	color:#1F1F1F;
}

a.openinmap {
    color: #337bb3;
    text-decoration: underline;
    font-weight: 500;
}

a.downloadpricelist,
.modal-coupon-code a.btnsubmitform,
.modal-coupon-code button.btnsubmitform {
    background: #1F1F1F;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    color: #fff !important;
}

button.downloadpricelist,
.modal-coupon-code a.btnsubmitform,
.modal-coupon-code button.btnsubmitform {
    background: #1F1F1F;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    color: #fff !important;
}

a:hover.downloadpricelist,
.modal-coupon-code a:hover.btnsubmitform {
    background: #FFF;
    color: #000 !important;
}

.list-details-wrap {
    margin-bottom: 20px;
    display: inline-block;
}

.similar-listing .detail {
    padding: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
    transition: 0.5s;
}

.similar-listing .detail:hover {
    margin-top: -5px;
    transition: 0.5s;
}

.similar-listing .detail h1 {
    font-size: 18px;
    letter-spacing: 0;
    margin-top: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 26px;
}

.similar-listing .detail h2 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

.similar-listing a.readmore {
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}

.similar-listing a.readmore {
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}

.filter-sub-menu .nice-select {
    line-height: 15px;
}

.filter-sub-menu.style1 .nice-select ul {
    display: inherit;
    margin-top: 0;
}

.filter-sub-menu.style1 .nice-select.open .list {
    height: 150px;
}

.form-control-feedback.ion-checkmark-round {
    color: #06b103;
}

.form-control-feedback.ion-close-round {
    color: #f91942;
}

#pricing_form .btn.v1.btnsubmitform:hover {
    background: #5ebe77;
    color: #fff !important;
}

.runtextarea {
    padding-top: 5px;
    padding-bottom: 10px;
}

.runtextarea h3 {
    margin: 0;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 42px;
    font-size: 34px;
    display: block;
}

.list-gallery-thumb.carousel-indicators {
    position: inherit;
}

.list-gallery-thumb.carousel-indicators li {
    display: inline-block;
    height: auto;
}

.list-gallery .carousel-control-prev span,
.list-gallery .carousel-control-next span {
    top: 35%;
}

.share-btnsocial .addthis_inline_share_toolbox {
    position: inherit;
    bottom: -40px;
    right: 0;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.addthis_inline_share_toolbox .at-share-btn {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    opacity: 0;
    transition: 0.5s;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

a.socialshare {
    color: #1F1F1F;
    border-radius: 100px;
    border: 1px #1F1F1F solid;
    padding: 10px 30px;
    margin-top: 10px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
}

.share-btnsocial .addthis_inline_share_toolbox .at-share-btn {
    display: none;
}

.share-btnsocial:hover .addthis_inline_share_toolbox .at-share-btn {
    display: inline-block;
    opacity: 1;
}

.list-details-section {}

.list-details-section .mediatype {
    background-color: #1F1F1F;
    color: #fff;
    padding: 5px 15px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 60px;
    font-weight: 500;
}

.list-details-section .detialAds {
    margin-top: 15px;
}

.list-details-section .detialAds h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.list-details-section .detialAds h3 {
    line-height: 18px;
    color: #666;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.list-details-section .detialAds span {
    color: #0071BD;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.list-details-section .detialAds .descDetail {
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
    margin-bottom: 20px;
    line-height: 24px;
}

.homesearcharea {
    max-height: 440px;
    height: 80%;
    min-height: 440px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.map-full .nice-select.open .list {
    height: 180px;
}

.filter-wrapper.style1.v2 .hero__form.filter {
    overflow: inherit;
}

/* width */

.homesearcharea::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

/* Track */

.homesearcharea::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */

.homesearcharea::-webkit-scrollbar-thumb {
    background: #D0D0D0;
    border-radius: 10px;
}

/* Handle on hover */

.homesearcharea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.reversecol {
    display: inherit;
}

iframe[src*="google.com/maps"] {
    width: 100%;
}

.resourcepagelist h2.titledisplay {
    color: #60be74;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 38px;
}

.cookiesbar {
    display: none;
    background-color: #198943;
    color: #fff;
    position: relative;
}

.cookiesbar p {
    font-size: 13px;
}

.cookiesbar a.accept-cookies {
    width: 100%;
    display: inline-block;
    color: #fff;
    background-color: #39d763;
    text-align: center;
    font-weight: 600;
}

.cookiesbar a.accept-cookies:hover {
    color: #39d763;
    background-color: #fff;
}

.new-footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

.new-footer .sec_footer {
    position: relative;
}

@media only screen and (max-width:992px) {
    .promocarousel {
        height: 150px;
        position: absolute;
        bottom: 27%;
        width: 100% !important;
        left: 0;
    }
    .homesearcharea {
        max-height: 100%;
        overflow-y: inherit;
        height: auto;
        min-height: auto;
    }
    .list-details-section {
        padding-top: 0px;
    }
    .reversecol {
        display: block;
    }
}

.headeraccount {
    margin-top: 10px;
}

.headeraccount ul {}

.headeraccount ul li {
    display: inline-block;
    padding: 0px 15px;
}

.headeraccount ul li a {
    color: #657e55;
    font-weight: 600
}

.headeraccount ul li.logininbtn {
    background-color: #70ad47;
}

.headeraccount ul li.logininbtn a {
    color: #fff;
}

.logoimagesection {}

.logoimagesection img {}

.sectioncontent {
    line-height: 50px;
}

.customtype7 .hero__form.v2 {
    background-color: #fff;
}

.customtype7 .customtype7searcharea {
    padding: 25px 20px;
}

.customtype7 .inputkeyword {
    border-radius: 5px;
    padding-left: 40px;
}

.customtype7 .searchicon {
    position: absolute;
    font-size: 25px;
    left: 10px;
}

.customtype7 button {
    border-radius: 8px !important;
    background: #39b54a !important;
}

.customtype7 .customtype7searcharea h1 {
    font-size: 24px;
}

.customtype7 .customtype7searcharea .tncnote {}

.customtype7 .customtype7searcharea .tncnote small {
    font-size: 9px;
}

.customtype7 .customtype7searcharea .tncnote a {
    color: #39b54a !important;
}

.customtype7 .customtype7searcharea a.browseLink {}

.customtype7 .customtype7searcharea h2 {}

.customtype7 .customtype7searcharea a.browseLink img {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
}

.customtype7 .customtype7searcharea a.browseLink h3 {
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 600;
    margin-top: 3px;
}

@media only screen and (max-width:767px) {
    .reversecol {
        flex-direction: column-reverse;
        display: flex;
    }
    .reversecol h2 {
        line-height: 40px;
    }
    .carousel-indicators li {
        width: auto;
    }
}